<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personal Center</title>
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
     <link href="/css/personal.css" rel='stylesheet' type='text/css' />
    <link href="/css/RewardList.css" rel='stylesheet' type='text/css' />

    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <script type="text/javascript" src="/js/jquery-1.11.1.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
    <script src="/js/responsiveslides.min.js"></script>
    <script>
        $(function () {
          $("#slider").responsiveSlides({
            auto: true,
            nav: true,
            speed: 500,
            namespace: "callbacks",
            pager: true,
          });
        });
    </script>
</head>
<body>
<div class="container">
        <div class="container_wrap">
            <div class="col-sm-3 logo">
                <a href="/">
                    <img alt="" src="/images/logo.png" />
                </a>
            </div>
            <div class="header_top">
			<div class="clearfix"></div>
            </div>
            <div class="content">
                <div class="personal">
                     <img src="/images/boy.png" class="icon"/>
                     <div class="message">
                       <p>
                         <div class="info">  Name:</div>
                         <div class="info-detail"><%=user.username%></div>
                        </p>
                        <br/>
                         <p>
                        <div class="info"> Email:</div>
                       <div class="info-detail"><%=user.email%></div>
                        </p>
                         <p>
                        <div class="info"> WILI Balance:</div>
                       <div class="info-detail"><%=user.points%></div>
                        </p>
                    </div>

                    <!--<form id="form1" name="form1" action=""class="personal-form1">-->
					<div id="form1" class="personal-form1">
                        <script type="text/javascript">
                         function show1()
                         {
                             var value = document.getElementById("div1").style.display;
                             if(value=="none")
                             {
                                 document.getElementById("div1").style.display="block";
                             }
                             else
                                 document.getElementById("div1").style.display="none";

                         }
                         function show2()
                         {
                             var value = document.getElementById("div2").style.display;
                             if(value=="none")
                             {
                                 document.getElementById("div2").style.display="block";
                             }
                             else
                                 document.getElementById("div2").style.display="none";

                         }
                        </script>
                        <nav class="nav-button">
                            <ul>
                                <li onclick="show1()"class="personal-button">TopUp</li>
                                <div id="div1" style="display:none">
									<form action="/personal/topup" method="post">
                                    <input name="amount"id="amount" type="text" placeholder="input amount" />
                                    <button type="submit" onclick="transfer()">Submit</button>
									</form>
                                    <script>
                                        if(typeof web3 !== 'undefined'){
                                            var web3 = new Web3(web3.currentProvider);
                                        } else {
                                            var web3 = new Web3(new Web3.providers.HttpProvider('http://ropsten.infura.io/'));
                                        }
                                        web3.eth.defaultAccount = web3.eth.accounts[0];
                                        var Contract = web3.eth.contract([{"constant":false,"inputs":[{"name":"newSellPrice","type":"uint256"},{"name":"newBuyPrice","type":"uint256"}],"name":"setPrices","outputs":[],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":true,"inputs":[],"name":"name","outputs":[{"name":"","type":"string"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":false,"inputs":[{"name":"_spender","type":"address"},{"name":"_value","type":"uint256"}],"name":"approve","outputs":[{"name":"success","type":"bool"}],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":true,"inputs":[],"name":"totalSupply","outputs":[{"name":"","type":"uint256"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":false,"inputs":[{"name":"_from","type":"address"},{"name":"_to","type":"address"},{"name":"_value","type":"uint256"}],"name":"transferFrom","outputs":[{"name":"success","type":"bool"}],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":true,"inputs":[],"name":"decimals","outputs":[{"name":"","type":"uint8"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":false,"inputs":[{"name":"_value","type":"uint256"}],"name":"burn","outputs":[{"name":"success","type":"bool"}],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":true,"inputs":[],"name":"sellPrice","outputs":[{"name":"","type":"uint256"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":true,"inputs":[{"name":"_address","type":"address"}],"name":"balanceOf","outputs":[{"name":"","type":"uint256"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":false,"inputs":[{"name":"target","type":"address"},{"name":"mintedAmount","type":"uint256"}],"name":"mintToken","outputs":[],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":false,"inputs":[{"name":"_from","type":"address"},{"name":"_value","type":"uint256"}],"name":"burnFrom","outputs":[{"name":"success","type":"bool"}],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":true,"inputs":[],"name":"buyPrice","outputs":[{"name":"","type":"uint256"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":true,"inputs":[],"name":"owner","outputs":[{"name":"","type":"address"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":true,"inputs":[],"name":"symbol","outputs":[{"name":"","type":"string"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":false,"inputs":[],"name":"buy","outputs":[],"payable":true,"stateMutability":"payable","type":"function"},{"constant":false,"inputs":[{"name":"_to","type":"address"},{"name":"_value","type":"uint256"}],"name":"transfer","outputs":[{"name":"success","type":"bool"}],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":true,"inputs":[{"name":"","type":"address"}],"name":"frozenAccount","outputs":[{"name":"","type":"bool"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":false,"inputs":[{"name":"_spender","type":"address"},{"name":"_value","type":"uint256"},{"name":"_extraData","type":"bytes"}],"name":"approveAndCall","outputs":[{"name":"success","type":"bool"}],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":true,"inputs":[{"name":"_owner","type":"address"},{"name":"_spender","type":"address"}],"name":"allowance","outputs":[{"name":"remaining","type":"uint256"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":false,"inputs":[{"name":"amount","type":"uint256"}],"name":"sell","outputs":[],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":false,"inputs":[{"name":"target","type":"address"},{"name":"freeze","type":"bool"}],"name":"freezeAccount","outputs":[],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":false,"inputs":[{"name":"newOwner","type":"address"}],"name":"transferOwnership","outputs":[],"payable":false,"stateMutability":"nonpayable","type":"function"},{"inputs":[{"name":"initialSupply","type":"uint256"},{"name":"tokenName","type":"string"},{"name":"tokenSymbol","type":"string"}],"payable":false,"stateMutability":"nonpayable","type":"constructor"},{"anonymous":false,"inputs":[{"indexed":false,"name":"target","type":"address"},{"indexed":false,"name":"frozen","type":"bool"}],"name":"FrozenFunds","type":"event"},{"anonymous":false,"inputs":[{"indexed":true,"name":"from","type":"address"},{"indexed":true,"name":"to","type":"address"},{"indexed":false,"name":"value","type":"uint256"}],"name":"Transfer","type":"event"},{"anonymous":false,"inputs":[{"indexed":true,"name":"_owner","type":"address"},{"indexed":true,"name":"_spender","type":"address"},{"indexed":false,"name":"_value","type":"uint256"}],"name":"Approval","type":"event"},{"anonymous":false,"inputs":[{"indexed":true,"name":"from","type":"address"},{"indexed":false,"name":"value","type":"uint256"}],"name":"Burn","type":"event"}]);

                                        var wiliContract = Contract.at('0x29fdd72c129ec6cfcd0e9ebe59abf9273b8b9444');
                                        var to = '0x2e8115c17fe971DA68acf0Ce574a71E372C9d169';
                                        function transfer(){
                                            var amount = document.getElementById('amount').value;
                                            console.log(amount);
                                            var value = Number(amount) * 1e18;
                                            //$.post('http://127.0.0.1:3000/personal/topup', {'amount':amount});
                                            wiliContract.transfer(to, value, ret => {
                                              //  location.reload();
                                            });
                                        }
                                    </script>
                                </div>
                                <li onclick="show2()"class="personal-button">Withdraw</li>
                                <div id="div2" style="display:none">
									<form action="/personal/withdraw" method="post">
										<input  name="amount" id="topup_amount" type="text"placeholder="input amount" />
										<input name="address" id="address"type="text"placeholder="input your wallet address"/>
										<button type="submit" formtarget="">Submit</button>
									</form>
                                </div>
                            </ul>
                        </nav>
					</div>
                    <!--</form>-->

                </div>
                <div class="clearfix"></div>
            </div>
            <div class="content">
                <div class="personal-Title">我的悬赏</div>
                <a href="javascript:;" class="a-upload">
                    <button onclick="{location.href='/post'}">Post</button>
                </a>
                <img src="/images/Line.png" class="personal-line"/>
                <div class="content">
                    <% rewards.forEach(function(reward){
                        if(reward.uploaded == false){%>
                            <div class="card">
                                <div class="RL-Title"><%=reward.title%></div>
                                <div class="RL-content"><%=reward.description%></div>
                                <div class="RL-money">悬赏金额：<%=reward.wili%> wili</div>
                            </div>
                    <%}})%>
                </div>
                <div class="clearfix"></div>
            </div>

            <!-- 新加的已被接悬赏 -->
            <div class="content">
                <div class="personal-Title">待确认悬赏</div>
                <img src="/images/Line.png" class="personal-line"/>
                <div class="content">
                <!-- 这里加个循环 -->
                <div class="yy_add_to_get_index_XD">
                    <% rewards.forEach(function(reward){
                        if(reward.finished == false && reward.uploaded == true){%>
                            <div class="RL-Title"><%=reward.title%></div>
                            <button class="watchnow"><a href=<%=reward.videoLink%>>WATCH NOW</a></button>
                            <div class="RL-content"><%=reward.description%></div>
                            <div class="RL-money">悬赏金额：<%=reward.wili%></div>
                            <button class="reject_offer" onclick="getPostIndex(this);">Reject</button>
                            <button class="confirm_offer" onclick="getPostIndex(this);">Confirm</button>
                            <div class="clearfix"></div>
                        </div>
                    <%}})%>
                </div>
                    <div class="card">
                </div>
                <div class="clearfix"></div>
            </div>

            <!-- 新加的已被接悬赏 -->
            <div class="content">
                <div class="personal-Title">已完成悬赏</div>
                <img src="/images/Line.png" class="personal-line"/>
                <div class="content">
                <!-- 这里加个循环 -->
                <% rewards.forEach(function(reward){
                    if(reward.finished == true){%>
                        <div class="RL-Title"><%=reward.title%></div>
                        <button class="watchnow"><a href=<%=reward.videoLink%>>WATCH NOW</a></button>
                        <div class="RL-content"><%=reward.description%></div>
                        <div class="RL-money">悬赏金额：<%=reward.wili%></div>
                         <div class="clearfix"></div>
                    </div>
                <%}})%>
                    <div class="card">

                <!-- 这里加个循环 -->
                </div>
                <div class="clearfix"></div>
            </div> 

            <div class="content">
                <div class="personal-Title">我的视频</div>
               <a href="javascript:;" class="a-upload">
                   <button onclick="{location.href='/upload'}">Upload</button>
               </a>

                <img src="/images/Line.png" class="personal-line"/>
                <div class="col-md-5 grid_3">
                    <div class="row_1">
                        <div class="col-md-6 grid_4" id="video_list2">
                         <% for(var i = 0; i < videos.length; i++) {%>
                         <div class="grid_2 col_1">
                         <a href="play?id=<%=videos[i]._id%>">
                         <img src="<%=videos[i].picUrl%>" class="img-responsive2" alt=""/>
                         <div class="caption1">
                         <ul class="list_3">
                         <li><i class="icon5">
						 </i></li>
                         </ul>
                         <i class="icon4"></i>
                         <p class="m_3"><%= videos[i].title %></p>
                         </div>
                         </a>
                         </div>
                         <%}%>

                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
</div>





<script type="text/javascript" src="/js/ejs_production.js"></script>
    <script tpye="text/javascript" src="/js/ejs_fulljslint.js"></script>
    <script tpye="text/javascript">
        var data='{"title":["title here","title here2"],"img_src":["/images/test.jpg","/images/test.jpg"]}';
        var html=new EJS({url:'/js/video_list.ejs'}).render(JSON.parse(data));
        document.getElementById("video_list1").innerHTML=html;
        document.getElementById("video_list2").innerHTML=html;

    </script>
    <script type="text/javascript">
    function getPostIndex(obj){
        var index = $(obj).parent(".yy_add_to_get_index_XD").index();
        var xhr = new XMLHttpRequest();
        xhr.withCredentials = true;
        var url;
        if($(obj).index()==5)
            url = "/personal/confirm?index=";
        else
            url = "/personal/reject?index="
        url += String(index);
        xhr.open("GET", url, true);
        xhr.send();
    }
</script>
</body>
</html>
